.hero {
  position: relative;
  background-image: url("../../assets/img/heroimg.jpg");
  background-size: cover;
  background-position: center;
}

.container {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-bottom: calc(var(--mantine-spacing-xl) * 6);
  z-index: 1;
  position: relative;

  @media (max-width: $mantine-breakpoint-sm) {
    height: 500px;
    padding-bottom: calc(var(--mantine-spacing-xl) * 3);
  }
}

.title {
  font-family: 'Montserrat';
  color: white; /* This is the fill color */
 text-shadow: rgb(26, 61, 139) 3px 0px 0px, rgb(26, 61, 139) 2.83487px 0.981584px 0px, rgb(26, 61, 139) 2.35766px 1.85511px 0px, rgb(26, 61, 139) 1.62091px 2.52441px 0px, rgb(26, 61, 139) 0.705713px 2.91581px 0px, rgb(26, 61, 139) -0.287171px 2.98622px 0px, rgb(26, 61, 139) -1.24844px 2.72789px 0px, rgb(26, 61, 139) -2.07227px 2.16926px 0px, rgb(26, 61, 139) -2.66798px 1.37182px 0px, rgb(26, 61, 139) -2.96998px 0.42336px 0px, rgb(26, 61, 139) -2.94502px -0.571704px 0px, rgb(26, 61, 139) -2.59586px -1.50383px 0px, rgb(26, 61, 139) -1.96093px -2.27041px 0px, rgb(26, 61, 139) -1.11013px -2.78704px 0px, rgb(26, 61, 139) -0.137119px -2.99686px 0px, rgb(26, 61, 139) 0.850987px -2.87677px 0px, rgb(26, 61, 139) 1.74541px -2.43999px 0px, rgb(26, 61, 139) 2.44769px -1.73459px 0px, rgb(26, 61, 139) 2.88051px -0.838247px 0px;
  font-size: 60px;
  font-weight: 500;
  line-height: 1.1;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 40px;
    line-height: 1.2;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: 28px;
    line-height: 1.3;
  }
}

.description {
  color: var(--mantine-color-white);
  max-width: 600px;

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 100%;
    font-size: var(--mantine-font-size-sm);
  }
}

.control {
  margin-top: calc(var(--mantine-spacing-xl) * 1.5);

  @media (max-width: $mantine-breakpoint-sm) {
    width: 100%;
  }
}